* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: rgb(99, 99, 99);
    --green-color: forestgreen;
    --bg-color: rgb(233, 242, 233);
    --yellow-color: rgb(226, 198, 75);
    --line:  rgb(186, 186, 186) solid 1px;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: sticky;
    background-color:white;
    top: 0;
    width: 100%;
    border-bottom: var(--line);
    padding: 1rem;
}


.nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-top: 1rem;
}

.nav-item {
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    text-decoration: underline;
    color: var(--green-color);
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-title {
    margin: 1rem;
    text-align: center;
    color: var(--green-color);
}

.subtitle {
    text-align: center;
    color: var(--text-color);
}

.section-card {
    background-color: white;
    border-radius: 8px;
    border: var(--line);
    margin-bottom: 1rem;
}

.section-title {
    padding: 1rem;
}

.section-desc {
    padding: 1rem;
    color: var(--text-color);
}

.card {
    background-color: var(--bg-color);
    border: var(--line);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.product-title {
    color: var(--green-color);
    margin-bottom: 1rem;
}

.product-desc {
    color: var(--text-color);
}

.numbers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.number-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-title {
    color: var(--yellow-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.number-desc {
    color: var(--text-color);
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.btn {
    background-color: var(--green-color);
    color: white;
    padding: 1rem;
    width: 50%;
    align-self: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0rem;
}

footer {
    background-color: white;
    width: 100%;
    border-top: var(--line);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
}

@media(min-width: 640px) {
    header {
        display: flex;
        justify-content: space-around;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        gap: 2rem;
        margin-top: 0;
    }

    main {
        width: 60%;
        gap: 1rem;
    }

    .main-title {
        font-size: 3.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .section-card {
        padding: 1rem;
    }

    .products-container {
        flex-direction: row;
    }

    .btn {
    width: 25%;
    border-radius: 12px;
    font-size: 1rem;
    }

    footer {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    }
}






